{%extends "menu.html"%}

{%block header%}
Raporlar
<script type="text/javascript">
  function change()
  {
  document.getElementById("myButton1").value="YÜKLENİYOR LÜTFEN BEKLEYİNİZ...";
  }
  </script>
{%endblock%}



{%block body%}

<section class="section is-main-section">
  <div class="notification is-info">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          
          <div>
            
            
            <div>
              
              <form method="POST" action="/buysell" name="form" onsubmit="return validateForm()">
                
                <select name="buy-sell" id="buy-sell" class="minimal">
                    <option value=buyers>Alımlar</option>
                    <option value=sellers>Satışlar</option>
                    <option value=transfer>Transfer</option>
                   
                </select>
                 
          </div>
          </div>
        </div>
      </div>
      <input name="button" class="button is-primary" onclick="change()" type="submit" value="GÖRÜNTÜLE" id="myButton1">

      <!-- <button type="submit" name="button" class="button is-primary" value="value">GÖRÜNTÜLE</button> -->
    </div>
    </form>
  </div>
  </section>

  <div class="card has-table">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        Tablo  
      </p>
      <a href="buysell" class="card-header-icon">
        <span class="icon"><i class="mdi mdi-trash-can"></i></span>
      </a>
    </header>
    <div class="card-content">
      <div class="b-table has-pagination">
        <div class="table-wrapper has-mobile-cards">
          <table id="data" class="table is-fullwidth is-striped is-hoverable is-fullwidth">
           
            <tr> 
              <th>orders_total_amount</th>
              <th>orders_price</th>
            </tr>
            
            <tbody>
              {% for i in range ( data | length) %}
              {% if data  | length > 2 %}
              <tr>
                <td>{{data[i]['amount']}}</td>
                <td>{{data[i]['price']}}</td>

                <td class="is-actions-cell"></td>
                </td>  
              </tr>
              
              {% endif %}
                <tr>
                
                  
                  <td>{{data[i]['orders_total_amount']}}</td>
                  <td>{{data[i]['orders_price']}}</td>
                  
                  <td class="is-actions-cell"></td>
                  </td>  
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
</section>
{%endblock%}
